<div class="profile-background" style="background-image: url('<%= @user.background_picture_url %>');" ></div>
<div class="mx-auto profile-radius" style="background-image: url('<%= @user.avatar_url %>');"></div>
