<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card post-form">
        <div class="card-header">
          <h3>Create Post</h3>
        </div>
        <div class="card-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card margin-bottom-top">
    <div class="card-body">
      <span id="post_number">
        <%= @posts.count %>
      </span>
       posts are on our bunny page
    </div>
  </div>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
  </div>

  <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, inter_window: 1, outer_window: 0 %>
</div>
