<div class="container">
  <div class="card margin-bottom-top"  id="new_post">
    <div class="card-body">
      <span id="post_number">
        <%= @posts.count %>
      </span>
       posts are on our bunny page
       <span class="offset-md-8"> <%= link_to "Create Post", new_post_path(@post), remote: true,
                                  class: "btn btn-primary " %> </span>
    </div>

  </div>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
  </div>

  <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, inter_window: 1, outer_window: 0 %>
</div>
