<div class="card">
  <h5 class="card-header"><%= current_user.username %></h5>
  <div class="card-body">
    <p class="card-text"><%= @post.text %></p>
    <%= link_to "Back to all posts", posts_path, class: "btn btn-primary" %>
    <% if @post.user == current_user %>
      <%= link_to "Delete post", @post, method: :delete, data: { confirm: 'Are you sure?'},
                                        class: "btn btn-primary delete-color" %>
    <% end %>
  </div>
</div>
