
@import "bootstrap";
@import "navigation";
@import 'font_awesome5_webfont';
@import 'font_awesome5.css';

.margin-bottom {
  margin-bottom: 15px;
}


.margin-bottom-top {
  margin-bottom: 15px;
  margin-top: 15px;
}

.delete-color {
  background-color: red;
}

.height-panel {
  height: 500px;
}

.log_in {
  background-color: #752222;
  color: white;
  text-align: center;
  padding: 10px;
  padding-left: 30px;
  position: fixed;
  width: 100%;
  height: 100%;
}

.radius-ban {
  color: white;
  background-color: #3d4d8c;;
  border-radius: 20px;
  padding-right: 10px;
  margin: 10px;
  border-width: medium;
  border-color: black;
}

.button-helper {
  background-color: #375779;
  color: white;
  border-radius: 5px;
  padding: 10px;
  &:hover {
    color: white;
    background: #a5484f99;
    cursor: pointer;
  }
}
.profile-radius {
  margin-top: -160px;
  border-radius: 20%;
  border: 10px solid white;
  width: 300px;
  height: 300px;
  border-radius: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.profile-background {
  height: 400px;
  background-position: center center;
  background-size: cover;
}
