.navbar {
  background: #557394;
  color: white;
}

.navbar-button {
  background-color: #547395;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  &:focus {
    box-shadow: none;
  }
}

.dropdown-item {
  color: blue;
  background-color: #f8f9fa ;
  &:hover {
    background-color: #80808078;
  }

  &.last-one {
    color: red;
  }
}

a.navbar-brand {
  font-family: 'HelveticaNueve';
  height: auto;
  color: white;
  cursor: pointer;
  &.app-name {
    &:hover {
      color: #ffab07c2;
    }
  }
}

.button {
  background-color: #375779;
  color: white;
  border-radius: 2px;
  padding: 4px;
  &:hover {
    color: white;
    background: #a5484f99;
  }
}

.small-circle-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 10px;
}
.display-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
