.navbar {
  background: #557394;
  color: white;
}

.navbar-button {
  background-color: #375779;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
  &:hover {
    color: white;
    background: #a5484f99;
  }
}

.dropdown-item {
  color: blue;
  background-color: #f8f9fa ;
  &:hover {
    background-color: #80808078;
  }

  &.last-one {
    color: red;
  }
}

a.navbar-brand {
  font-family: 'HelveticaNueve';
  height: auto;
  color: white;
  cursor: pointer;
  &.app-name {
    &:hover {
      color: #ffab07c2;
    }
  }
}

.button {
  background-color: #375779;
  color: white;
  border-radius: 2px;
  padding: 4px;
  &:hover {
    color: white;
    background: #a5484f99;
  }
}
